{{ define "app" }}
{{ template "head" }}

  <table>
    {{ template "table-head" }}
    {{ template "table-body" . }}
  </table>

  <div class="action-bar">
    <a class="action-link" href="/add">add</a>
  </div>

{{ template "foot" }}
{{ end }}

