{{ define "app" }}
{{ template "head" }}

  <table>
    {{ template "table-head" }}
    {{ template "table-body" . }}
  </table>

  <div class="action-bar">
    <a class="action-link" href="/add">add</a>
    <form action="/filter" method="post" class="inline-form">
      <input class="filter-field" type="text" placeholder="filter time" id="timeFilter" name="timeFilter">
    </form>
  </div>

{{ template "foot" }}
{{ end }}
