{{ define "edit-form" }}
{{ template "head" }}

<form action="/save/{{ .ID }}" method="post">
  <div>
    <label for="date">date:</label>
    <input type="text" id="date" name="t_date"
           value="{{ .HumanDate }}">
  </div>

  <div>
    <label for="note">note:</label>
    <input type="text" id="note" name="t_note"
           placeholder="note"
           value="{{ .Note }}">
  </div>

  <div>
    <label for="amount">amount:</label>
    <input type="number" id="amount" name="t_amount"
           placeholder="amount" min="0.10" step="0.10"
           value="{{ .AmountNormal }}">
  </div>

  <div>
    <label for="tags">tags:</label>
    <input type="text" id="tags" name="t_tags"
           placeholder="tags"
           value="{{ .TagsNormal }}">
  </div>

  <div>
    <label for="name">name:</label>
    <select id="user" name="t_user">
      <option value="0" {{if .User }}selected{{end}}>Stephan</option>
      <option value="1" {{if .User }}selected{{end}}>Kerstin</option>
    </select>
  </div>

  <div class="action-bar">
    <button class="button action-link submit-link" type="submit">save</button>
    <a class="action-link delete-link" href="/delete/{{ .ID }}">delete</a>
    <a class="action-link" href="/">cancel</a>
  </div>

</form>


{{ template "foot" }}
{{ end }}

