{{ define "favicon" }}
    <link rel="icon" type="image/png" href="data:image/png;base64,
AAABAAEAaWkAAAEAIAD7EgAAFgAAAIlQTkcNChoKAAAADUlIRFIAAABpAAAAaQgGAAAAOYINOgAA
EsJJREFUeJztnWl0VVWWx//73DdlHolJIIxGkDAIASIkQWhoLEQQ0aRAChXFgNJ2Wa21lnaVrpSu
Vrtr2RYWKkRslBKQRNQqURQQEpk1AZpBkgAREgiZQ+a86ez+8B4SGTK8d5LwVr/f4gMruXfffff/
3nP3Ofdmb8CLFy9e/l9Ave2AEhiUnLU4nG2GeJaShMGWuzt1bWVvu6WK3hGJgeSsxWCbASwlhMGG
3alrXTIVvzrN1zeAx4O0GYJwNzMTM7ZIYd/a6ieO5s3OaFbsfY/T4yLFr06DbwADpEEQwMxgBqSw
o9VPIG92RucMZaZoibbgYTrSpjHzXAATicgEAMzcQIS9dsYXEHLHHnHpDFKz7N14Wt1Kz4mUmYJE
WzB0pIGZHQcnx+GZGUSAnQEIiT3iEpCadX076RDJI9NugRmziOhegCYTEHL1ZgxmMCoZ+JaIt7AN
u3YvyrjYbefXjXS/SOlA8sg0wHxZFLruQRkM5z8QMdgG7F70y7sq/os0X58GmkZEMwV4JkADOzo8
gy0AnWHmrcxya4uefshLzahz/8R6jm4VKf6LNPg0EIgIwhH+Dvdh53aOYVCiRU/IS82gpA1piQKY
C4h/JuI4gLSuecNNDPqRge12u/3zUqv12NnFH7S6dGI9TLeJlLQhDQIAIEDUOYF+CYNBkAYaTGb7
AwSaCUICgXzd8YvBNQAdlJBfC6v84ruifueQni7dsdndKBcpafOTILPdMajRjQa3jmmxaGEGo+0B
jWkugxMIFKrKR2ZIIlxkxgEI/keT5K/yHsqoUmVfNcpEmvDhchiMNmhMznvANdMXKs8Zo8JjZoLE
PAGeBNAQVT5eDYMtxChiRraU9k0tzeL7vKU3X8rutki3vjUTUeExAIlOP3euR86CVZS8/vHxgnQP
MtF0gOMA6AnU7ckNEzdA0jEGf8NCfqzLP1WUnZ5t6+7jdha3ApC8/nEI0oGJ4MjLXBve7FbZX+jE
IoBnARgBgn9PiNMWx2wN1WAcZeBz6Cwf705dW4XLJ9aLuBSIpHVpEDqBn/138dnTam8INAq/+0F0
P4AEMEUQOfONXoPtYDrP4IMM3lhitnzd21lglyKb8NFCGIUffr7I2bXrvbFe6k1B2nQh5SIBmsRA
NIh1PX33tAeDLQSUSMZ3YFrV3CgP5y3NsPaGL50KSvzqNJiCNAgpIUCO+4dcSw4k20YRaYvAuBuE
IQB8biZxroaJG5hRBElf2mzN7+x/ZF0pengI7DA4yRuWgEhD25zAFXEsFvTV6eVCIUQqM2IB+BPU
DG2CCP38I1DcUE5MjAH+kVzcUK7CNADH84qAemYUMbC2xGx+ryeHwBtGe+KHy6DTSwghwNzBxu0d
QBP+0irvg+CHARrjXGfTuebutQQa/PCrQROjMgt2lF3+GYMxe0jyrOzivC2N1hZVh3LOr7iSGUft
Ur659zfvbVVmvB2uifuUzKcgrRIQjlvH1XEoZ36kSNpYOkkAS0A0lUC3MNigamjTCx0mRA3/cO+F
o4/eaBtmYOwtQ48drTw1ws7qFhUc8yu6yMxbbFZ+c9+jGWeUGb8OVwLG6UjaWOoYf4hAcH1SaiU5
RCfFYhB+Tcz9mGBUJY5GAoOC++J0bUmn7TEYg4P68k91pSpcaGMXzWCUgeS6epNlxZH7P7ik9ABO
CAAmfZwGnRSOVJoZ7GJKbZcUQuD7SPAyMIYD5KcypQ42BuCSucFlseffPiNwx9nv66pa1MTSMbci
JqCBgZOQWPlddOQmTE1XOhGm5PXLQML5jgCuXe8XgvTG6AbLNNjxDAGTGOSjUhxBhLm33jXy01PZ
x92xc3mFfVr/cS/uLz32covNrMQ/x7srYhAaAewl0Gs5C97drcQ4ALprw1LHoOaCODkFq8TE4Wlx
Ohs9LUDzQAhisKYypR4TMfR4iClg5P7SY1AYVIAJw8MHWgtrinWqnleOLJDsYK5mpk0WgTcPLFh1
1l27NHnjUtfmOzYZRTp6HExPEyHCXUeuJsI3BJlzXiU7S7TaLDhUno8NJ79BYU0xFAYVBEKkXxiX
NVUrsdnGNhNQyswrq3W1K0+kZjW6aovu2risSzvUWpv8gjXfu0nQnwCMcPXAN8KkGfB1yorrXjWN
1hZsP3sQm/J3QHVQ58beNWHnudyD9ZYmpXYZsAL8PYNf210QvdWVd1edFilHq9YS7QFjdKR/iSXN
6o41tikx8a+nJy55oaPtLjZVYVP+Duw8lwvVQb0j4rb8E1VFQ61S7SI4MzeA8ZnNTn/e9/CqLj1b
OxQpR6vWJsmQgRrTMmIsJaIAt7y9CoOmx7DQASVvTXu2f1f3PVFVhPeO/h0nqoqgOqiDgqL5QkMF
LKrFAkoBvGcBPjigVZd05iumdkXKKVglEm974naNxFcE6nIQ20MnNNziG4r1977sVpJhsVuRXXII
G09uQ3cENdQUyHXmRmXPwStwNmB/KWfBmg6zwHaXZ6ZgirCSLpTAygQyCB1CTIHYNOc/lGSABk2P
GQMTMD5qOD4t3IUvz+yFyqDWtNbTjIEJTx4qL3intrVepVh9pNT17cyGPfbuRiOBIIMfkmPGvKBK
oLaEGAPw+Mg5eGPqbzFtwHiE+wRDIzWnt+3swXerWmopLnxwSYDBre9gXOKGd5JGAiquGQLBV2/E
4OB+ZX+d9myUApPtMigoGi/c+Qhyy07ibye24qe6UjRY1Hy2cKT8dP/dC1fhoS9e5OqWOrTaLUrs
dsQ1IrUJKo7jR7eM++lN6BcQgdUzXujR90UEwvjI4RjVJxZbi/Yhq+BbqAzqhtmv0Oojn+lySg5Z
K1suwWLv3neBvxgP/PQm3BYag8dGzkH6pCUuGzUIHSL9wvCrQROH9bRAbTFqesyNvQt/nf4c5t02
FX39+8Cg6ZXYXnrH/bYNs1+hxL6jXunjGwLRje8tdYAjqKE+QUjsOwr3DE7EwKAol8fzYGMAxkXe
/twfJy5+Q6mnbhBqCkTa6LmYHHMHNuXvwPGqIlS3XIJk91+wpic+8RKAl57d+Zc9J2vOJjZZ1b8L
FMHGAEyOGYvfjVuAJ0bPxZDgvm49cCdEDX/qZhKoLUNDB+APdy7G78YtwNiIofDTm5TZfuOfnkka
ET7kS2UG2yAmRA3Hv4x9EAlRcTBpBrcNBhn9tyjwq1sgEHRCw8ToEfh9wiKMCFf73WWkX9hrSg06
EUFGfwQblS4i3PQQCL46EyL9wnrblU7Ry9+4eekMXpE8AK9IHoBXJA/AK5IH4BXJA/CK5AF4RfIA
vCJ5AF6RPACvSB6AVyQPwCuSB+AVyQPwiuQBeEXyALwieQBekTwAr0gegFckD8ArkgfgFckD8Irk
AXhF8gC8InkAXpE8AK9IHoBXJA/AK5IH4BXJA/CK5AF4RfIAlIskWfZ8oYObBMns1x12hWSp5A98
L1PRXPtbZca6EQYrPW8AuNhU9ZJSg05ERXMtfqorRYvN7Kys6B4HSo8/+dyuFXsU+NYtMBgtNjPO
1l3ExSZ1jV6e+PpVzi07majMYBt0B0qPo8XaihmD7sSoPrEI9QmEQbheEdoqbcgtz0+879PnODlm
zL3PjV/YLX+R7Qo2aUd5cw2OVZ7Bp4W7UFhb7LbNP+1d82JOyaGXVdi6ETpnUHGqtgTJMWMwJWYs
YkP7w1/v45bhOksTtpzZs+VweYHblbjchcGobW3A6drz+Pqn/cgpOeR2Iae38jYN3Xb2YP7O4lxF
Xt6Yn28ZZ1BxuLwA0wdOwPjI25Uc4EJjJaZtWs7Dwwf3SG2hq2mytqKwthh7zh/BtrMHldQZeuiL
F3lz4S4F3nWOa8a1C42V+OjEVhwqL1B2EDtLHKs8HTnzk2c4ISru9fTEJzqsDukuFmlDcX0Zjlae
xuaCnbjQ6H5v4PjIocf0Hz81QoWtrnDdFNwZVGQP78PCblFW4K3FZkZ2yaHnU//x7/z24U9iVNlt
i2TG+YYK7Dj7Pd4+9AnePpTltkCzBifODTD48eGKAmWV+h0tFeydMtb+PCklS1o1+wUGspxlKZVQ
0VyLrIJvi5d886rSHLjW3IADpcew8eQ2vHtkMw5XFLj17Pn1sOlhkX5h/FXRvs9UlWMDYANwGoK2
MTi/Mzt0XIO1YJVIin1soBD6eWDcA6J4AgJVeAs4KmmNjojd9l93PX23qzZabGacqCrCD2U/Iqfk
MMqbatyeTgwPG9R8qrbER1VtV2cJ6mpmHGTw53a2b9+38P1zndm309WML1TqjZHh5vECYi4JnsaS
4oigpi4ZgCCjP5L73dGllN0m7ThbV4ojlaew81wuTtWWuF0wd0rM2NcOlRc8r7JKMoObCfhRMr6y
S7ll3+lTh9GFnoFdrgte19oa7O9jSiLJc4hoKsBDVFbU7xcQgYnRI/svH/NgyY22YTDKm2pxvOo0
9pz/XxwqL3C79PQ9gyel5JXlZ1Y01yqZ1Dv8hBXAOTD+boftm0s6w/4Tqe90uYh7l0UCgJyCSDEp
tiRGB910EM0h8CQQhXfZ0A3QSGBE+JCiFdP+7ZoyWvWWJhypKMSB0uPIK8uHiqAOCe7LxfXlyspW
MyCJuRKgXXbmrWaLedsPiz8o63jP6+OSSJep0qoNQa2Bt2k6bTpADxDRWAKULbD66IwYHRH7+euT
l99vtltxqrYYP5SdxJ7zR6AiqKP7xJ45VVsyuNmmppCg87nTDKb9kpDJZM/Zk//eaaS7V87WLZEu
02pvCDRo/uPBuFsQzQT49q73Jr8x4T7BuDM67t6S+oovT9WWwN2gTus/7vmjladfq1TUoseJjZkL
wZTFjO0Xa87lnv7XrUo6oDhFcr2J72Vy5q+iSX9b1ken8TgA80A0kwjRKpwEHO15+gdEIj5y2LDN
hbtcmmnfM3hSytHK05kXG6sUNiWBBFDBzBtYk1sbm625RxarbXZFk9cvdf5PzeOfCvJ1MnboIAhM
BpAKxkSVrRN8dEYMCx1w/HBF4ciu7Dc0dACfq7uotEw0M1pA+BrgTWaDfe/BB9acV2a8DdqgUQHg
sPAr01oGyB21wsMlEdVcsjYXGslwHIQKALeAKJgAt4dAm7SjvKkmItQUmJ4QNcJ0tv7it+1tnxAV
t6XZ2rr+fGMFbNxhW4hOw8y5kum/WfCHu7Wa7AspH9UpM34VP6sxat0iBGl+zv6xcPb1c58WS3OY
SW8YDWhzCDSXifur7O8X6ReG0RGxqV8V7ctq+7up/eNf/rHqpxcrW2qVvtxjRimRfBvE2y3C//j+
1DfVtd+8AdcEa8KHD8OkNwDQHM0XXWz625YcrVpLag3pKww0DozfEGMqiILdMtoGH50R/QMjMTxs
0Fid0Kpyy04Wq24uwsxNDGSCeLPZ0nrg+0fWqW3g1A7Xj35mCpJaQyAM5Bj+GFBx8Vdp1YYQa0A/
AX0SiJYTYTQAo9uGnZg0AwQJt7O/X8J2ZnwjmT8Qwnrgu4IBF1xpVOUO7UY+LjMFIdYACOiVJRYA
UFVT7R8YGharB+4D8BgYfXu/Mf11YBTYwW8xZM4Fs/VMbzWq71TY495OQWBo2JWFOlZyYzmWmEyG
ocS0lAjzAATeDH3QmbmCidbAJjc3ByM/b3aGsiVwV+hSQO5Y+yj8TQYQXwmliudVsjkkAhoSAHqW
CBMI5H4VeRdgsAWMLyWQ0QLOzSuMrunpoe16dD3CmSlINoc4k2mHWCrywHOtraZ+gSKazPpZTrFi
VDWw7whHn1jkAbxGsra9Vl91/kRqVs/03ekELkd34NpH0S9QgMx6XBHLfSxatQ/JkGiNxXJiXqK6
h+DVsLPNKAu5WddiLc7upedOe7gd14mZKSAZAo0FiNm9ibCTnAWrKD4zLdBg5ji90P5IAjPdNnot
jcz8qZ3EGjSbj+wt+Z8mdxdCuwtlD+n4zDQYzAy90KCoSxty5q+i+C1pPn71cgoJ3QoAtyowa2Nw
jmSsYD9r9t7DN684l1GbSTEQvyUNfvUS5MYHlleTo1VrCbagcKMQS8D0ewIFueQecxEI77KN12tn
Ciuzu/B2tDfpnnQ3MwUJtiAYhQCYXE4smBkggG0M7UwhstOzKWnzY4OExfAKGPM7O7dicA0Y62yC
V+6bn3HGJWd6kW6fkyRtfgzCYujS3MrRQB6wCca++RnX/D5+dZrex1ckahr/GUTj2rFjASOHCf+5
uyBq182QTrtCj0wc41enwcdXQNPaV+qyOEzA7oIoID29XbsJHz0daNCZFwqmPwD0c89WZ0pdAEF/
qRZivSvfFdxM9OjsPuGjp2HQmSGYfnHoy+JAEKqFwInUd7pilsavf3KQieQzBCwgUJOE3CTJsGLv
gpXKvhXsTXplCWb8+idhIgmHVAQJCUkG7F2w0mWbcZkphlBL6K02svnvX/j+9+q87X16bZ0sLjMF
oZZQ2MiG/Qvf7y03PIL/A3gL4X01CrK1AAAAAElFTkSuQmCC">
{{ end }} 
