{{ define "logo" }}
    <img src="data:image/png;base64,
iVBORw0KGgoAAAANSUhEUgAAAlgAAACFCAMAAACwh3Y2AAAABGdBTUEAALGPC/xhBQAAAAFzUkdC
AK7OHOkAAAAhUExURQAAAD6naD+nZ0OpbD+naD+nZzajYz+nZ0apbmG2gz+naDOSAicAAAAKdFJO
UwCH7zph2hK7JPRfuVp+AAAKRElEQVR42u2d6aKjKhCEw455/we+ccG1GxrFxLmnav6dMS74SRfN
9npBEARBEARBEARBEARBEARBEARBEARBEARBEHRG3hiPUoCaY6WcU0ALaqtow/v91sFGlAXUrrqy
Qb8HfdBCpQW1wkq59yzEQ6iNzBqrodJSBqUCXTVXKkXBNVqwWlAjc7WVg9WCLsgG92YEqwW1Mlf7
eKgQD6E25upgtVBpQW3M1cFqoaigmigY3Fskh9QDVBEFnX4LpR2sFnQJq+716mi0EA+h8+Zq8OmG
cfGIh9C5FINKB3SM1UI8hE5FwUVMPFRIPUCVUXB/XMdktVCEEJlioLEigpyF1YLEUZDGqqMPp62W
FlotbzhFNqBGI5LfXUUWoP14duImZQ8UzfFa8l+TP98eYJUKHyllMwNLhEX01ShYh1XOxUvepHWa
FdO7/blDiVzcXUWGegz9j8PmwnE4nxUW3/HY4Rllb1HlLtU7lF7DlzuWENOVFkRFpL9prpg8e/5l
0L+RxEObz786ouC8kvUEmDVYQ3vWi8Aafrw51Ix1sAys8ba3YA1/E3E9/FxbuUGhXUeQ5bS/aK7e
+RRDXaWlQ7wIFkXnabC0/SVY7+CvgBXZHlsKrWeBFeuj4GWrVQTrU8q+EVibP30frLc6DxYbSaZS
9k8GK7rzWPU6FQ8nsEgHwJA1gVXnsaabib8ES1Jj0mAtxvfzXL1x7w2805ot5SAqoi95LHMJq/71
daRLEoClyPaiciRZ5LsrNRFSTPc/BOstMPAkWDNXW7Pel5CmzWgQXu5nYFVmOruGYA2x2REv5ApY
ZbLuBEtg4EmwJq6odvb89W3rrIeD1dWfpGsJFm2OLoGlS0NdbwWrHIspsIzL/XZsLO5+8miwunOn
6VqClZBYt6gugVU08PeCVTwJAdbkKVmzOhj7XSPpwWB1pwcpbK3WRbBSpsC0AqtUadwLVtHAE2CN
N5/7IEwgzfsjwbrUjdw1BGsyGKsq6zRYUysqb7PuA0uU8iDAGgsge9dmH+AfC9bF4QmhIVhmX2Wd
BitNNsrarNvA0lNmJZ9/OYI1Jq2dqX8BTwTLNzvVZbDSF9sArKljIVvg94E1PUi+O+II1njvIQKs
1mCNVdYSC8+D5QUZ+BvBSpndXFTjwKocPAmwBGD5sZRiA7BSoj/z/d8I1nRusmc9A5YGWPeANYUQ
0wKslGvk39OdYKWMVKbGPIKlyr4QYF0ByzYBy08GXv0ErDktZ2rBQo11A1gTFk3ASiOD2HzSvWBN
vX78oA8CLITCfwKs0hCae8F6xYKB5zxWQLrhLrBsI7AKBv5msFKNyRl4rlWoLcB6tHl/LQMF6Urj
brASWcwUOS5BWlllASwJWKEtWKnVT5NyO1g+a+CPYKXvoIosgPXlPNYuHP0CrLyBZzuh69YRBlgC
sGy7zPt8f7yBvx+srIEnh83oeXG7CLCe2Ffod5eluu2+AFbOwFMD/ZZJLi4oGVsA68LohphRCSy+
2+4bYL0sa8jJocmr6VP6w5YqT6sewaopoj8Hlj8kCMd3189W4VUCazJuBC1fAYs38PQsnbhZUmqA
y0ZfAuudK6EvLgn0TLC4EaT5uYhFsJYO4V+AxRt4bl7hYbeZfhYYHxbL8wrDHwdr+rSVbw3WPEXB
/AIs1sDzM6GPC+H1cFkDsE6AFamQ0QgsT2fgvwQWZ+Azazd4Y4+LLPZ23gOsOrBiWv5tO2drAstl
FARgMQaeBevdFiwmo65y/TfeG6P2y6NrajejUC6iPwFWsEepTxFq6que3t2nbcT/k4A12yz1E7Am
A79LeahSx6CPn4prB5c7NAKmVqHhS+hvtAp1bu0GR67dcC2PxRt4CqzoasEyZbAWA+9rwBrh+jiu
9eozel9GyGOVV5sJ9GozLcCiDPxFsEZTHiRgzX2W6wdU0qEMQ83luIXEAFYJLKJHrSFYhIHnwQry
ddtkYFF9lqpmjIyPyyLE298ArDxY5GKRDcEiDDwJVhAPLzA1YM19lvEcWMOnEaiVjABW6rSjcsOK
XuC2JVhHm0WBRRon5smpWYAsWHMGPp4Fa86IbR8PYKXJTYSqGl5nwTqQRYJlxVe0VAOSBWseuTDf
Wj1YSzw3AEueeb8drL2Bp8AacZFkSEcE92DwYCWu54HXJ8CaM8YWYD0JrPTBT60EEiyjhe49kveW
AWtuGprzYKVGwKqdA7B+D9ZuDDwJlti9k949C9Y8ayieByutoAWwHgXWtkOYBEt8SUtO08iCtV1b
7hRYx4VDANYTwJrzSYYDK3XqFBcwpbnIg7Ux8FfAWjVbAdYjwFrPfKfBirJFqgw9uTQP1sbAnwPr
sIYWwHoGWK/FwNNgedEKCpE5qgBWapj2IFwBKwCsx4G1hCMarKkuKlyUO6gE1srAE/MKvfT5/gWP
Ff8YWEuHsKHBOja82HMcezeLYL1UMvDEFHsl2HZA/yvpBnXtVN0/B9bSIUyDlSYLZWs97oHLYM3r
dh3A+tAajGht+vXzPXfV5K4RV/8MWHM40jRY5Ogp4QECsJKB368AMpzVFSYTHhfsfvIGAqfvyrbc
QOB7YPn1gHLn+SqNWaVG8UsyCMDa7Oi3AmsaZqpyldYx8f5/3JkiNt3y5ItgbXbVI8BKIxE06XlM
2u+Gui0JWOtNDg5gMQOIxvuiVqLAXjoPAmu91yQB1rJnYLC7l+xNGhVF35UIrNdquvMqFM5D+Zyy
1OC0aAMxIvLxu3+pi1jdCZYvqRasVThy5ECwRJYO/VCx4QJ+M/6c2QdbBtZC1m59rPnP4cNWXD1X
Pzw5TWQid/+qKKIvg/Xu/MUT3AWWHraDzMlWg7WEI8cMhHCr+Xz9PvK235JSl/ZXF4KVDPwuQRqX
XQmH2fWfq/Y70PcXn2fr7LfvnaaWVRTRjWJ2HZbGQ9/Rg4vjPWCVFerBmg28YwZC2MAPpdaBWzNb
CNa8x+0u8+7tYX79Rzq3LXSoLqJbyVJ0sYWTUVCyWNizwJoNvPPsAY4fn8+dVQrW3Ldz2LrXqizR
h6/3WWCt9ut8V6YeyHetXTlp/DCwUrXt+IHR5DvW9Ez3WrDSFABLtP0OU6CXS5/exf5rYB1XNRFZ
LdOJp9g8HawX06Wze8dhv6xQ9lHlYHm+E7pfuiEEYs0Zc2rthi+DtVowQW61ujrHsX2Pvf1VprJe
FckeruLFZy/cux9PGMYN5W3pxMPBso8njifk/ne+7nhpy13aVhfRD9FSTc3Vv68+0RCj/8l1P/rF
pe+Kh8SHZLtKIwv9ZXmj6HgYJeZKC4MO9Aclslp/NgpC7ePhYrXoloeziILQBatluSiIgoNOx8Po
Ya6gi2i9xYK5gq5bLcJcASuoQeoBURC6ilY5HgZgBZ2yWg5RELqj0op8PNQKWEEXrFZghgMhCkIX
0XKCVdghqB6tfTx0ClhBTVx8gLmCbtESDwO6BaGW8XBaggLmCmodD5WGuYJuQQtREIIgCIIgCIIg
CIIgCIIgCIIgCIIgCIIgCIIgCIIg6J/RfxecTnDBomELAAAAAElFTkSuQmCC
    " alt="Penunse Personal Finance Tracker" height="42px" />
{{ end }}
