{{ define "main" }}
{{ template "head" . }}

<h1>{{ .AppName }}</h1>

<div id="table-grid">
	<div class="left">
		<div class="button-container">
			<input class="btn" id="plus-button-left" type="button" onclick="dm.handlePlusButtonClick(this)" value="+">
		</div>
		<table id="table-left" class="transaction-data">
		</table>
	</div>
	<div class="right">
		<div class="button-container">
			<input class="btn" id="plus-button-right" type="button" onclick="dm.handlePlusButtonClick(this)" value="+">
		</div>
		<table id="table-right" class="transaction-data">
		</table>
	</div>
</div>

{{ template "foot" }}
{{ end }}
