{{ define "stylesheet" }}
<style>
:root {
  --black: black;
  --silver: rgba(0, 0, 0, 0.05);
  --white: white;
  --brand-color: #3fa768;
  --default-font-family: sans-serif;
  --default-font-size: 12px;
  --danger: crimson;
}

body {
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
}

.main {
  width: 550px;
  margin: auto;
}

img {
  display: block;
  margin: auto;
}

td {
  border: 1px solid var(--silver);
  padding: 2px 5px;
  text-align: right;
}

table {
  border-collapse: collapse;
}

.action-bar {
  margin-top: 15px;
}

tbody tr:nth-child(even) {
  background-color: var(--silver);
}

.def-bg {
  background-color: var(--white);
}

.tag {
  background-color: var(--brand-color);
  color: var(--white);
  border-radius: 3px;
  padding: 1px 4px 1px 4px;
  margin-right: 3px;
  white-space: nowrap;
}

.tags {
  text-align: left;
}

.amount {
  white-space: pre;
}

form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
}

.button {
  background: none;
  border: none;
  font: inherit;
}

.id-link {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  color: var(--brand-color);
}

.id-link:hover {
  text-decoration: underline;
  color: var(--black);
}

.id-link:visited {
  color: var(--brand-color);
}

.action-link {
  outline: none;
  text-decoration: none;
  padding: 7px 5px;
  border-radius: 2px;
  border: none;
  border-bottom: 1px solid var(--silver);
  color: var(--brand-color);
  text-align: center;
  display: inline-block;
  width: 55px;
  box-sizing: border-box;
}

.inline-form {
  display: inline-block;
}

.filter-field {
  padding-bottom: 7px;
}

.delete-link {
  color: var(--danger);
  float: right;
}

.action-link:visited {
  color: var(--brand-color);
}

.action-link:hover {
  text-decoration: underline;
  color: var(--black);
  background-color: var(--silver);
  border-bottom: 2px solid var(--brand-color);
}

form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea,
select {
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  width: 230px;
  box-sizing: border-box;
  height: 25px;
  margin: 3px 3px;
  padding: 3px 3px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--silver);
}

input:focus,
textarea:focus,
select:focus {
  border-bottom: 2px solid var(--brand-color);
}

select {
  background-color: var(--white);
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea {
  vertical-align: top;
  height: 5em;
}
</style>
{{ end }}
