{{ define "table-body" }}

  {{ range . }}
      <tr>
        <td class="def-bg"><a href="/edit/{{ .ID }}">#{{ .ID }}</a></td>
        <td>{{ .HumanDate }}</td>
        <td class="amount">{{ .AmountNormal }},-</td>
        <td><em>{{ .Note }}</em></td>
        <td>{{ .UserName }}</td>
        <td class="tags def-bg">
          {{ range .Tags }}
            {{ template "tag" . }}
          {{ else }}
            -
          {{ end }}
        </td>
      </tr>

  {{ end }}
{{ end }}
